/* #3A3B6E #1F2053 #212121 #4F8DFF*/
/* #C7FCF8  #BAD9CC #DAF0E0 #BCD9BA #E9FAD9*/

#top_menu {
    background-color: #1F2053;
    width: 100%;
    height: 40px;
    position: fixed;
    top: -50px;
    left: 0px;
    z-index: 1;
}

.top_menu {
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    background-color:transparent;
    height: 50px;
    width: 100px;
    border-width: 0;
    z-index: 2;
}

.button {
    color: white;
}


.top_menu:hover {
    background-color: #3A3B6E;
}
#about_me {
    right: 105px;
}
#contact_button {
    right: 0px;
}



/* #programming{
    background-color: #BCD9BA;
    background-image: url(python.png);
    margin-top: 30px;
    margin-left: 0px;
    height: 100vh;
    width: 100%;
} */

#math {
    background-color: #C7FCF8;
    height: 100vh;
    width: 100%;
}
#mees{
    position: relative;
    background-color: #bac1d9;
    height: 100vh;
    width: 100%;
}
#contact{
    background-color: #BCD9BA;
    height: 100vh;
    width: 100%;
}
#social_media {
    background-color: #E9FAD9;
    width:105px;
    position: fixed;
    left: 45%;
    right: 50%;
    margin-top: auto;
    bottom: -100px;
    border-radius: 20%;
}
.social_media {
    width: 50px;
}
#facebook {
    float: right;
}
#linkedin {
    float: left;
  }


